body {
    background-color: #C5E7E7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar {
    display: flex;
    border-bottom: 2px solid rgb(48, 47, 47);
    width: 100%;
    height: 150px;
    margin: auto;
}

.name-designation {
    margin: auto;
    height: 90%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-size: larger;
}


.fname {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 60%;
    border-right: 6px solid #FF5C00;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.designation {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    height: 90%;
    width: 70%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding-left: 10px;
}

.menu {
    margin: auto;
    height: 90%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    font-size: larger;
}

.top-menu {
    font-size: 30px;
    height: 90%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}

.intro-container {
    width: 99%;
    height: 600px;
    display: flex;

}

.half-circle {
    width: 10%;
    height: 100%;
}

#half-circle {
    width: 20%;
    margin: 20% 40% 0 40%  ;
}
.intro-section {
    width: 90%;
    height: 100%;
    display: flex;;
    align-items: center;
    color: whitesmoke;
}
.intro-items{
    width: 90%;
    height: 70%;
    background-color: #FF5C00;
    display: flex;
}
#intro-text{
    font-size: x-large;
}

.text-download {
    width: 50%;
}

.text{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.download-box {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.download-button {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 30px;
}

.download-text {
    width: 70%;
    height: 30%;
    text-align: center;
}
.img-download{
    background-color: #C5E7E7;
    border-radius: 25%;
    width: 40%;

}
#download-cv{
    width: 100%;
}
.download-icon{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.main-photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



#image-main {
    width: 50%;
    height: 110%;
}




.badge-collection {
    width: 80%;
    height: 150px;
    margin: auto;
    margin-top: 150px;
    border: 4px solid black;
    border-radius: 100px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.badge {
    width: 25%;
    display: flex;
}

.icon {
    height: 80%;
    width: 40%;
    background-size: 100%;
    margin: auto;
}

.badge-desc {
    border-right: 8px solid #FF5C00;
    height: auto;
    width: 60%;
    margin: auto;
    margin-left: 20px;
}

#last-badge-desc {
    border-right: 0px;
}

.badge-icon {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.badge-text {
    color: #FF5C00;
}

.skills {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    height: 200px;
    justify-content: space-around;
}

.html {
    height: 100%;
    width: 11%;
    text-align: center;
}

.skill-logo {
    height: 75%;
}

.skill-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.skill-des {
    height: 15%;
    padding-bottom: 30px;

}

.recent-work {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    height: 1600px;
}

.recent-work-title {
    text-align: center;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.recent-work-tiles-col {
    height: 90%;

}

.work-tiles-row {
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}

.work-tiles {
    width: 30%;
    height: 90%;
    box-shadow: 0px 0px 10px black;
}

.work-icon-image {
    height: 70%;
    width: 100%;

}

.work-icon {
    height: 100%;
    width: 100%;
}

.work-des {
    height: 25%;

}

.git-chr-icon {
    height: 30%;
    display: flex;
    justify-content: center;
}

.git-icon {
    margin-right: 10px;
}

.chr-icon {
    margin-left: 10px;

}

.chr {
    width: 100%;
    height: 100%;
}

.git {
    width: 100%;
    height: 100%;
}

.work-tile-desc {
    height: 75%;
    width: 80%;
    margin: auto;
}

.about-me {
    margin-top: 80px;
    width: 98%;
    margin: auto;
    height: 700px;
    background-color: #FF5C00;
    margin-top: 80px;
}

.aboutme-title {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme-desc {
    height: 80%;
    width: 100%;
    display: flex;

}

.about-me-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.about-me-img {
    width: 70%;
    height: 100%;
}

.about-me-desc {
    width: 50%;
    height: 100%;
}

.about-text {
    width: 70%;
    height: 60%;
    margin: auto;
    margin-top: 10%;

}

.get-in-touch {
    height: 500px;
    margin-top: 80px;
}

.get-in-touch-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;

}

.social-media-icon-col {
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: auto;
}

.socialmedia-icon {
    width: 8%;
    height: 70%;

}

.text-or {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.get-in-touch-footer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.email-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 70%;
    width: 30%;
    border-radius: 40px;



}

.email-address {
    width: 70%;
    text-align: center;
}

.email-icon {
    height: 60%;
    width: 10%;
    border-radius: 50%;
    background-color: #C5E7E7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF5C00;
    padding: 6px;
}

.img-mail {
    height: 80%;
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #FF5C00;
    color: white;
    cursor: pointer;
    padding: 30px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #555;
}

.footer {
    width: 100%;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 550px;
    margin-top: 80px;
}

.link-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin: auto;
    height: 80%;

}

.links-section {
    text-align: left;
}