.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid rgb(48, 47, 47);



}

body {
    background-color: #C5E7E7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    display: flex;
    font-weight: bolder;
    font-size: larger;
}

.name-designation {
    display: flex;
    font-size: 22px;
}

#fname {
    border-right: 8px solid #FF5C00;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.top-menu {
    padding: 20px;
}

.intro-container {
    display: flex;
    margin-top: 20px;

}

#half-circle {
    height: 50px;
    width: 50px;
    margin: 30px 0px 0px 50px;

}

.half-circle {
    height: 50px;
    width: 150px;
}


.intro-section {
    width: 70%;
    min-width: 40%;
    height: 400px;
    min-height: 100%;
    margin: auto;
    margin-top: 80px;
    margin-right: 300px;
    display: flex;
    background-color: #FF5C00;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

#download-icon {
    height: 20px;
    width: 20px;
}

#download-box {
    width: 30%;
    height: 50px;
    min-width: 40%;
    text-align: center;
    color: white;
    font-size: larger;
    padding-bottom: 25px;
    background-color: black;
    border-radius: 50px;
    margin-top: 40px;
}

#main-photo {
    height: 110%;
    border-radius: 20px;
    margin-top: -30px;

}

#image-main {
    height: 100%;
    width: 100%;
    padding-left: 100px;

}

.badge-collection {
    width: 80%;
    height: 150px;
    margin: auto;
    margin-top: 150px;
    border: 4px solid black;
    border-radius: 100px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.badge {
    width: 25%;
    display: flex;
}

.icon {
    height: 80%;
    width: 40%;
    background-size: 100%;
    margin: auto;
}

.badge-desc {
    border-right: 8px solid #FF5C00;
    height: auto;
    width: 60%;
    margin: auto;
    margin-left: 20px;
}

#last-badge-desc {
    border-right: 0px;
}

.badge-icon {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.badge-text {
    color: #FF5C00;
}

.skills {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    height: 200px;
    justify-content: space-around;
}

.html {
    height: 100%;
    width: 11%;
    text-align: center;
}

.skill-logo {
    height: 75%;
}

.skill-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.skill-des {
    height: 15%;
    padding-bottom: 30px;

}

.recent-work {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    height: 1600px;
}

.recent-work-title {
    text-align: center;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.recent-work-tiles-col {
    height: 90%;

}

.work-tiles-row {
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
}

.work-tiles {
    width: 30%;
    height: 90%;
    box-shadow: 0px 0px 10px black;
}

.work-icon-image {
    height: 70%;
    width: 100%;

}

.work-icon {
    height: 100%;
    width: 100%;
}

.work-des {
    height: 25%;

}

.git-chr-icon {
    height: 30%;
    display: flex;
    justify-content: center;
}

.git-icon {
    margin-right: 10px;
}

.chr-icon {
    margin-left: 10px;

}

.chr {
    width: 100%;
    height: 100%;
}

.git {
    width: 100%;
    height: 100%;
}

.work-tile-desc {
    height: 75%;
    width: 80%;
    margin: auto;
}
.about-me{
    margin-top: 80px;
    width: 98%;
    margin: auto;
    height: 700px;
    background-color: #FF5C00;
}
.aboutme-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme-desc{
    height: 80%;
    width:100% ;
    display: flex;

}
.about-me-image{
width: 50%;
height: 100%;
display: flex;
justify-content: center;

}
.about-me-img{
    width: 70%;
    height: 100%;
}
.about-me-desc{
    width: 50%;
    height: 100%;
}
.about-text{
    width: 70%;
    height: 60%;
    margin: auto;
    margin-top: 10%;
    
}